.box{
    border: 1px solid #cc0000;
    border-radius: 10px;
    width:400px;
    height: 200px;
    padding:20px
}

button{
    font-size: 16px;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding:5px 10px;
}


.form-box{
    display:flex;
    justify-content:space-between;
    width:400px;
}
